@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Red Hat Text", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  --text-base: 16px;

  --color-red: hsl(14 86% 42%);
  --color-green: hsl(159 69% 38%);
  --color-rose-50: hsl(20 50% 98%);
  --color-rose-100: hsl(13 31% 94%);
  --color-rose-300: hsl(14 25% 72%);
  --color-rose-400: hsl(7 20% 60%);
  --color-rose-500: hsl(12 20% 44%);
  --color-rose-900: hsl(14 65% 9%);
}

@layer base {
  :root {
    font-size: 16px;
  }
  body {
    @apply bg-rose-50 text-rose-900 font-sans;
    min-height: 100vh;
  }

  h1 {
    @apply font-bold text-rose-900;
  }

  p {
    @apply text-rose-500;
  }
}

@utility container {
  @apply p-8 flex flex-col gap-4 lg:flex-row;
}

@utility card {
  @apply sm:w-[calc(50%-32px)]
    md:w-[calc(33%-32px)]
    lg:w-[calc(33%-32px)]
    lg:min-w-[220px]
    max-w-80
    justify-self-center;
}
@utility ellipsis {
  @apply overflow-hidden text-nowrap whitespace-nowrap text-ellipsis;
}
